# FoCS Project - Solution

You have to work on the [Kiva](https://drive.google.com/file/d/1-tJtnIbo1Rt-F1XfoWGVkmBXiI-ciuRx/view) dataset. Some information on the datasets are on the [Kaggle](https://www.kaggle.com/) web page.

## Task 1

*Normalize the `loan_lenders` table. In the normalized table, each row must have one `loan_id` and one lender.*

The first step is to read the `loan_lenders.csv` file and create a dataframe with unnormalized data. Since the file is very large, I introduced a bollean variable `FINAL` - if it is `false` then only a part of data is processed in order to spead up the work. Libraries `panda` and `numpy` will be used for data processing while the efficiency will be measured using the `time` library.

In [133]:
import pandas as pd
import numpy as np
import time as tm
FINAL = True
start_time = tm.time()
loans_lenders_un = pd.read_csv('./data/loans_lenders.csv')
if not FINAL:
    loans_lenders_un = loans_lenders_un.head(10000) 
print("--- %s seconds ---" % (tm.time()-start_time)) 
loans_lenders_un

--- 5.722573757171631 seconds ---

         loan_id                                            lenders
0         483693  muc888, sam4326, camaran3922, lachheb1865, reb...
1         483738  muc888, nora3555, williammanashi, barbara5610,...
2         485000  muc888, terrystl, richardandsusan8352, sherri4...
3         486087  muc888, james5068, rudi5955, daniel9859, don92...
4         534428  muc888, niki3008, teresa9174, mike4896, david7...
...          ...                                                ...
1387427   678999  michael43411218, carol5987, gooddogg1, chris41...
1387428  1207353  rjhoward1986, jeffrey6870, trolltech4460, elys...
1387429  1206220  vicky7746, gooddogg1, fairspirit, craig9729960...
1387430  1206425  rich6705, sergiiy9766, angela7509, barbara5610...
1387431  1206486                              alan5175, amy38101311

[1387432 rows x 2 columns]

In [134]:
start_time = tm.time()
pairs_loan_lander = []
for index, row in loans_lenders_un.iterrows(): 
    lenders = row['lenders'].split(',')
    for l in lenders:
        pairs_loan_lander.append({ 'loan_id' : row['loan_id'], 'lender': l.strip() })
loans_lenders = pd.DataFrame(pairs_loan_lander) 
print("--- %s seconds ---" % (tm.time()-start_time)) 
loans_lenders

--- 6607.557300567627 seconds ---

          loan_id             lender
0          483693             muc888
1          483693            sam4326
2          483693        camaran3922
3          483693        lachheb1865
4          483693        rebecca3499
...           ...                ...
28293926  1206425  trogdorfamily7622
28293927  1206425          danny6470
28293928  1206425            don6118
28293929  1206486           alan5175
28293930  1206486        amy38101311

[28293931 rows x 2 columns]

## Task 2

*For each loan, add a column `duration` corresponding to the number of days between the disburse time and the planned expiration time. If any of those two dates is missing, also the duration must be missing.*

Firstly, I'll read the `loans.csv` file.

In [135]:
start_time = tm.time()
loans = pd.read_csv('./data/loans.csv')
if not FINAL:
    loans = loans.head(20000)
time = tm.time() -start_time
print("--- %s seconds ---" % time) 
loans

--- 1612.4024803638458 seconds ---

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,...,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model
0,657307,Aivy,English,"Aivy, 21 years of age, is single and lives in ...",NaN,125.0,125.0,funded,General Store,Retail,...,2014-01-15 04:48:22.000 +0000,7.0,3,2,1,NaN,female,true,irregular,field_partner
1,657259,Idalia Marizza,Spanish,"Doña Idalia, esta casada, tiene 57 años de eda...","Idalia, 57, is married and lives with her husb...",400.0,400.0,funded,Used Clothing,Clothing,...,2014-02-25 06:42:06.000 +0000,8.0,11,2,1,NaN,female,true,monthly,field_partner
2,658010,Aasia,English,Aasia is a 45-year-old married lady and she ha...,NaN,400.0,400.0,funded,General Store,Retail,...,2014-01-24 23:06:18.000 +0000,14.0,16,2,1,"#Woman Owned Biz, #Supporting Family, user_fav...",female,true,monthly,field_partner
3,659347,Gulmira,Russian,"Гулмире 36 лет, замужем, вместе с супругом вос...",Gulmira is 36 years old and married. She and ...,625.0,625.0,funded,Farming,Agriculture,...,2014-01-22 05:29:28.000 +0000,14.0,21,2,1,user_favorite,female,true,monthly,field_partner
4,656933,Ricky\t,English,Ricky is a farmer who currently cultivates his...,NaN,425.0,425.0,funded,Farming,Agriculture,...,2014-01-14 17:29:27.000 +0000,7.0,15,2,1,"#Animals, #Eco-friendly, #Sustainable Ag",male,true,bullet,field_partner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419602,988180,NaN,NaN,NaN,NaN,400.0,400.0,funded,Tailoring,Services,...,2015-12-28 15:44:18.000 +0000,14.0,16,4,2,"#Parent, #Repeat Borrower, #Woman Owned Biz",NaN,NaN,monthly,field_partner
1419603,988213,Perlita,English,"Perlita is 52 years old, married and has three...","Perlita is 52 years old, married and has three...",300.0,300.0,funded,Pigs,Agriculture,...,2015-12-22 10:37:06.000 +0000,14.0,12,1,1,"#Animals, #Elderly, #Repeat Borrower, #Woman O...",female,true,irregular,field_partner
1419604,989109,Okyeso Nyame Group,English,Okyeso Nyame group will begin its third cycle ...,Okyeso Nyame group will begin its third cycle ...,2425.0,2425.0,funded,Bakery,Food,...,2015-12-26 20:24:47.000 +0000,8.0,76,2,1,"user_favorite, #Parent, #Vegan, #Woman Owned B...","female, female, female, male, male, female","true, true, true, true, true, true",irregular,field_partner
1419605,989143,Exequila,English,"Exequila is from San Miguel, Bohol. She is in...","Exequila is from San Miguel, Bohol. She is in...",100.0,100.0,funded,Farming,Agriculture,...,2015-12-06 21:03:57.000 +0000,12.0,3,1,1,NaN,female,true,irregular,field_partner
1419606,989240,Lydia,French,Lydia a 37ans et habite dans une zone rurale. ...,Lydia is 37 years old and lives in a rural are...,175.0,175.0,funded,Sewing,Services,...,2015-12-04 23:17:04.000 +0000,14.0,7,1,1,NaN,female,true,monthly,field_partner

In order to see the exact titles of the columns and their values I'll do as followes:

In [136]:
loans.columns

Index(['loan_id', 'loan_name', 'original_language', 'description',
       'description_translated', 'funded_amount', 'loan_amount', 'status',
       'activity_name', 'sector_name', 'loan_use', 'country_code',
       'country_name', 'town_name', 'currency_policy',
       'currency_exchange_coverage_rate', 'currency', 'partner_id',
       'posted_time', 'planned_expiration_time', 'disburse_time',
       'raised_time', 'lender_term', 'num_lenders_total',
       'num_journal_entries', 'num_bulk_entries', 'tags', 'borrower_genders',
       'borrower_pictured', 'repayment_interval', 'distribution_model'],
      dtype='object')

In [137]:
loans['planned_expiration_time']

0          2014-02-14 03:30:06.000 +0000
1          2014-03-26 22:25:07.000 +0000
2          2014-02-15 21:10:05.000 +0000
3          2014-02-21 03:10:02.000 +0000
4          2014-02-13 06:10:02.000 +0000
                       ...
1419602    2016-01-02 01:00:03.000 +0000
1419603    2016-01-02 16:40:07.000 +0000
1419604    2016-01-03 22:20:04.000 +0000
1419605    2016-01-05 08:50:02.000 +0000
1419606    2016-01-03 20:50:06.000 +0000
Name: planned_expiration_time, Length: 1419607, dtype: object

In [138]:
loans['disburse_time']

0          2013-12-22 08:00:00.000 +0000
1          2013-12-20 08:00:00.000 +0000
2          2014-01-09 08:00:00.000 +0000
3          2014-01-17 08:00:00.000 +0000
4          2013-12-17 08:00:00.000 +0000
                       ...
1419602    2015-11-23 08:00:00.000 +0000
1419603    2015-11-24 08:00:00.000 +0000
1419604    2015-11-13 08:00:00.000 +0000
1419605    2015-11-03 08:00:00.000 +0000
1419606    2015-11-03 08:00:00.000 +0000
Name: disburse_time, Length: 1419607, dtype: object

A `duration` coulmn is created and filled with `None`. 
I'm going now through every row of the dataframe `loans`, and pick the values of the `planned_expiration_time` and `disburse_time`. 
In order to check whether there are missing values I'm using the `pd.notna` method. 
Since in both columns the time is recorded as `str`, a `strptime` method from the `datetime` library is used to transform strings into date-time format. Subsequently, the value of the `disburse_time` is subtracted from the value of the `planned_expiration_time`, and `days` metod gives the value of this difference converted in days. 
Finally, a restricted view of the resulting dataframe is displayed.

In [ ]:
from datetime import datetime as dt
start_time = tm.time()
loans['duration'] = None
for index, row in loans.iterrows(): 
    s2 = row['planned_expiration_time']
    s1 = row['disburse_time']
    if( pd.notna(s1) and pd.notna(s2) and s1 != '' and s2 != ''):
        d2 = dt.strptime(s2, "%Y-%m-%d %H:%M:%S.%f %z")
        d1 = dt.strptime(s1, "%Y-%m-%d %H:%M:%S.%f %z")
        loans.loc[index,'duration'] = (d2 - d1).days 
print("--- %s seconds ---" % (tm.time()-start_time)) 
loans_restricted = loans[ ['loan_id', 'loan_name','planned_expiration_time', 'disburse_time', 'duration'] ]
loans_restricted

Hovewer, much efficient way of solving this task is to create an auxilliary function `daysbetween` which transforms input parameters from strings into date-time, and calulate the difference in days. Then the function is applied to each row of the `loans` dataframe.

In [ ]:
from datetime import datetime as dt

def daysbetween(s1,s2):
    if( pd.notna(s1) and pd.notna(s2) and s1 != '' and s2 != ''):
        d2 = dt.strptime(s2, "%Y-%m-%d %H:%M:%S.%f %z")
        d1 = dt.strptime(s1, "%Y-%m-%d %H:%M:%S.%f %z")
        return (d2 - d1).days 
    else:
        return None

start_time = tm.time()
loans['duration'] = loans.apply(lambda x: daysbetween(x['disburse_time'],x['planned_expiration_time']), axis=1)
print("--- %s seconds ---" % (tm.time()-start_time)) 
loans_restricted = loans[ ['loan_id', 'loan_name','planned_expiration_time', 'disburse_time', 'duration'] ]
loans_restricted

## Task 3

*Find the lenders that have funded at least twice.*

For this analysis, the dataframe `loans-lenders`, resulting from the first task. Lenders that have corresponding two or more `loan_id` have funded at least twice.

In [ ]:
start_time = tm.time()
groups = loans_lenders.groupby("lender").lender.count()
groups
lenders_2more = []
for x in groups.iteritems(): 
    if x[1]  >= 2:
        lenders_2more.append(x)
print("--- %s seconds ---" % (tm.time()-start_time)) 
lenders_2more

## Task 4

*For each country, compute how many loans have involved that country as borrowers.*

From the dataframe `loans` I'm grouping by `country_name` and counting the `loan_id`.

In [ ]:
start_time = tm.time()
countries = loans.groupby("country_name").country_name.count()
print("--- %s seconds ---" % (tm.time()-start_time)) 
countries

## Task 5

*For each country, compute the overall amount of money borrowed.*

Again, the dataframe `loans` is processed. After grouping by `country_name`, the `loan_amount` is summed.

In [ ]:
start_time = tm.time()
amount_per_country = loans.groupby("country_name").loan_amount.sum()
print("--- %s seconds ---" % (tm.time()-start_time)) 
amount_per_country

## Task 6

*Like the previous point, but expressed as a percentage of the overall amount lent*

First the total amount is calculated. A helper function `calculate_percent` is created in order to calculate the percentage `loan_amount/total_amount*100`, and it is then applied to each row of the series `amount_per_country`.

In [ ]:
start_time = tm.time()
total_amount = loans.loan_amount.sum()

def calculate_percent(v):
    return (v / total_amount) * 100

percentage_per_country= amount_per_country.apply(lambda x: calculate_percent(x))
print("--- %s seconds ---" % (tm.time()-start_time)) 
percentage_per_country

## Task 7

*Like the three previous points, but split for each year (with respect to disburse time).*

Firstly, an auxiliary function `year2` is made in order to enable extracting year from the date.  Subsequently this function is applied on each row of the `loans` dataframe enabling creation of new coulmn `disburse_year`.

In [ ]:
start_time = tm.time()
from datetime import datetime as dt
def year2 (s):
    if( pd.notna(s) and s != ''):
        d = dt.strptime(s, "%Y-%m-%d %H:%M:%S.%f %z")
        return d.year
    return None
    
loans["disburse_year"] = loans.disburse_time.map(lambda x: year2(x))
loans

### Task 7.1

*For each country, compute how many loans have involved that country as borrowers per year.*

In [ ]:
start_time = tm.time()
countries_per_year = loans.groupby(["country_name", "disburse_year"]).country_name.count()
countries_per_year
print("--- %s seconds ---" % (tm.time()-start_time)) 
countries_per_year

### Task 7.2

*For each country, compute the overall amount of money borrowed per year.*

In [ ]:
amount_per_country_per_year = loans.groupby(["country_name","disburse_year"]).loan_amount.sum()
amount_per_country_per_year

### Task 7.3

*Like the previous point, but expressed as a percentage of the overall amount lent per year.*

Firstly, `total_amount_per_year` is calculated.

In [ ]:
total_amount_per_year = loans.groupby("disburse_year").loan_amount.sum()
total_amount_per_year

An auxiliary function `find_total_per_year` is created in order to enable accessing the total amounts for each year, needed later to calculate the percentage. 
We iterate through `amount_per_country_per_year`, extract the loan amounts grouped by country and year, anc calculate the percentage. As a result, there is a list of dictionaries then converted in dataframe.

In [ ]:
def find_total_per_year(y):
    for x in total_amount_per_year.items():
        if x[0] == y:
            return x[1]
    return 0

result = []
start_time = tm.time()
for x in amount_per_country_per_year.items():
    v = x[1]
    y = x[0][1]
    c = x[0][0]
    tot = find_total_per_year(y)
    perc = (v / tot) * 100
    result.append({"country_name":c, "disburse_year":y, "percent":perc })
result = pd.DataFrame(result)
print("--- %s seconds ---" % (tm.time()-start_time)) 
result

## Task 8

*For each lender, compute the overall amount of money lent. For each loan that has more than one lender, you must assume that all lenders contributed the same amount*

Two dataframes, `loans` and `loans_lenders` are merged.
The resulting dataframe `number_of_lenders_by_loan_id` has the number of lenders per each loan.
The amount per lender is calculated assuming ttah each lender contributed the same to the loan amount. 
Finally, in order to obtain the total sum per lender, the dataframe is gro

In [ ]:
start_time = tm.time()
merged = pd.merge(left=loans_lenders,right=loans, left_on="loan_id", right_on="loan_id")
merged = merged[["loan_id","lender", "loan_amount"]]
number_of_lenders_by_loan_id = merged.groupby(["loan_id"], as_index = False)[["lender"]].count()
number_of_lenders_by_loan_id
merged2 = pd.merge(left=merged,right=number_of_lenders_by_loan_id, left_on="loan_id", right_on="loan_id")
merged2["amount_per_lender"] = merged2.loan_amount / merged2.lender_y
merged2
lent_by_lender = merged2.groupby(["lender_x"], as_index = False)[["amount_per_lender"]].sum()
print("--- %s seconds ---" % (tm.time()-start_time)) 
lent_by_lender

## Task 9

*For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.*

The file `lenders.csv` contains data related to lenders. `lender_states` is a newely created dataframe containing `country_code` and `permanent_name`.

In [ ]:
start_time = tm.time()
lenders = pd.read_csv("./data/lenders.csv")
if not FINAL:
    lenders = lenders.head(20000) 
lender_states = lenders[["permanent_name","country_code"]]
print("--- %s seconds ---" % (tm.time()-start_time)) 
lender_states

The dataframe `lenders_in_states` contains data related to lenders whose country is known.

In [ ]:
lenders_in_states = lender_states.loc[lender_states['country_code'].notnull()]
lenders_in_states

The dataframe `lenders_without_states` contains data related to lenders whose country is unknown or the data is missing.

In [ ]:
lenders_without_states = lender_states.loc[lender_states["country_code"].isnull()]
lenders_without_states

In order to calculate the participation of each country in total amount of lent loans, the following calculation is done:

In [ ]:
start_time = tm.time()
lent_and_state = pd.merge(left=lent_by_lender, right=lenders_in_states, left_on='lender_x', right_on='permanent_name')
lent_total = lent_and_state['amount_per_lender'].sum()
lent_by_state = lent_and_state.groupby(['country_code'], as_index = False\
                                      ).agg({'amount_per_lender':['count', 'sum', \
                                                               lambda x: x.sum()/lent_total]})
lent_by_state.columns = ['country_code', 'lent_count', 'lent_sum', 'lent_factor']
print("--- %s seconds ---" % (tm.time()-start_time)) 
lent_by_state

In [ ]:
lent_no_state = pd.merge(left=lent_by_lender, right=lenders_without_states, \
                         left_on='lender_x', right_on='permanent_name')
lent_no_state_total = lent_no_state['amount_per_lender'].sum()
lent_no_state_total

In [ ]:
lent_by_state['additional_lent'] = lent_by_state.lent_factor * lent_no_state_total
lent_by_state

`loan_and_state` is the dataframe obtained by reducing the `loans` dataframe to the following three columns:

In [ ]:
loan_and_state = loans[['loan_id','country_code','loan_amount']]
loan_and_state

The loan amount per contry is calculated.

In [ ]:
start_time = tm.time()
loan_by_state = loan_and_state.groupby(['country_code'], as_index = False).loan_amount.sum()
loan_by_state.columns = ['country_code','loan_amount_sum']
print("--- %s seconds ---" % (tm.time()-start_time)) 
loan_by_state

In [ ]:
start_time = tm.time()
loan_and_lent = pd.merge(loan_by_state, lent_by_state, how='left', on=['country_code'])
loan_and_lent['difference'] = loan_and_lent.loan_amount_sum - loan_and_lent.lent_sum - loan_and_lent.additional_lent 
print("--- %s seconds ---" % (tm.time()-start_time)) 
loan_and_lent[loan_and_lent.difference == loan_and_lent.difference.max()]